@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Roboto:wght@300;500;700&display=swap") * {
  box-sizing: border-box;
}

:root {
  --bg-color: #011627;
  --white: #f7f7ff;
  --pink: #ff006e;
  --green: #89fc00;
  --purple: #a243ff;

  --primary-font: "Maven Pro", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

body {
  background: var(--bg-color);
}

header,
main,
footer {
  color: var(--white);
}

header {
  padding: 3.5rem 0;
}

header h1 {
  font-size: 3rem;
  padding-bottom: 10px;
  font-weight: bold;
}

header h2 {
  font-size: 1.5rem;
  padding-bottom: 5px;
  font-weight: 300;
}

main {
  display: grid;
  grid-template-areas:
    "swatches typography"
    "buttons typography"
    "buttons adjectives"
    "texture texture";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

main.wrapper {
  padding-bottom: 100px;
}

@media only screen and (max-width: 1150px) {
  main {
    grid-template-areas:
      "swatches"
      "typography"
      "buttons"
      "texture"
      "adjectives";
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 2rem;
  }
}

.wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 0 50px;
}
.column {
  flex-grow: 1;
  width: 100%;
}

.section-heading {
  font-style: italic;
  font-size: 25px;
  color: rgb(212, 212, 212);
  margin-bottom: 1rem;
}

.texture {
  grid-area: texture;
  background-image: url("../img/texture.PNG");
  width: 100%;
  height: 100px;
  margin-top: 2rem;
}

.texture .section-heading {
  margin-top: -2.6rem;
}

.swatches {
  grid-area: swatches;
}

.swatchgrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.swatches .color {
  height: 250px;
}

.color-swatch-1 {
  background-color: var(--purple);
}

.color-swatch-2 {
  background-color: var(--white);
}

.color-swatch-3 {
  background-color: var(--pink);
}

.color-swatch-4 {
  background-color: var(--green);
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  background: var(--white);
  border: 3px solid var(--white);
  cursor: pointer;
  white-space: nowrap;
  padding: 0.7em 5.5em;
  font-weight: 700;
}

.buttons {
  grid-area: buttons;
}

.buttons button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.secondary-button {
  background: transparent;
  color: var(--white);
  border: 3px solid var(--white);
}

.typography-main {
  grid-area: typography;
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.h1-sample:before {
  content: "";
  background: var(--purple);
  width: 100%;
  position: absolute;
  left: 0.7em;
  bottom: -6px;
  height: 6px;
  z-index: -1;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 2px;
}
a:hover {
  border-bottom: 2px solid var(--white);
}

.adjectives {
  grid-area: adjectives;
}

.adjectives ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives li {
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
}
