@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,400;1,8..144,200;1,8..144,300;1,8..144,400&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #f8f8f8;
  --blackish: #020209;
  --pink: #FFE8E8;
  --green: #DCF5D0;
  --lightgray: #EDEDED;
  --blue: #CCE4F1;
  --accent: #BC5532;
  --light-coral: #F09475;
  --dark-green: #8C8C5D;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: 'Roboto Serif', serif;
  --body-font: 'Roboto Serif', serif;
  --tags: "Roboto", sans-serif;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}
body {
  background: var(--bg-color);
}
header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width:30px;
}
.granny {
  width:40px;
  height:40px;
  border-radius: 50%;
}
nav {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
}
nav button {
  font-size: 14px;
  font-weight: 400;
}
nav button:hover {
  background-color: var(--light-coral);
}
li{
margin-left: 7px;
font-size: 14px;
text-decoration: none;
}
li img {
  width: 20px;
  height:20px;
}
nav a {
  border:none;
  font-weight: 400;
  text-decoration: none;
}
.nav-button {
  padding: 0.7em 1.5em;
  font-weight: 600;
}
header h1 {
  font-size: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}

header h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  padding-bottom: 5px;
  font-weight: 300;
}


main {
  display: grid;
  grid-template-areas:
    "swatches typography"
    "buttons typography"
    "adjectives tags"
    "image images";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
main.wrapper {
  padding-bottom: 50px;
}

@media only screen and (max-width: 1150px) {
  main {
    grid-template-areas:
    "adjectives"
      "swatches"
      "typography"
      "buttons"
      "images";
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 2rem;
  }
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}
.column {
  flex-grow: 1;
  width: 100%;
}

.section-heading {
  font-family: var(--body-font);
  font-size: 15px;
  color: #bababa;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.swatches {
  grid-area: swatches;
}

.swatchgrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.swatches .color {
  height: 150px;
}

.color-swatch-1 {
  background-color: var(--accent);
}

.color-swatch-2 {
  background-color: var(--dark-green);
}

.color-swatch-3 {
  background-color: var(--lightgray);
}

.color-swatch-4 {
  background-color: var(--blue);
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--bg-color);
  background: var(--accent);
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5em 2.5em;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}
button:hover {
  background-color: var(--light-coral);
}
.buttons {
  grid-area: buttons;
}

.secondary-button {
  background: transparent;
  color: var(--blackish);
  font-weight: 600;
}
.secondary-button:hover {
  background-color: transparent;
  color:#BC5532;
}
.typography-main {
  grid-area: typography;
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}


.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a.typography-sample {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  
}

a.typography-sample:hover {
  border-bottom: 2px solid var(--blackish);
}

.adjectives {
  grid-area: adjectives;
}

.adjectives ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives li {
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
}
.tag {
  font-family: var(--primary-font);
  color: var(--bg-color);
  background: var(--light-coral);
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5em 1.2em;
  font-weight: 400;
  font-size: 13px;
}
.exclude {
  background-color: var(--pink);
  color: var(--blackish);
}

.include{
  background-color: var(--green);
  color: var(--blackish);
}
.dietary-active {
  background-color: var(--blue);
  color: var(--blackish);
}
.dietary-inactive {
  background-color: var(--lightgray);
  color: var(--blackish);
}

.image-style {
  max-width: 400px;
}
/* .partners {
  background-color: var(--lightgray);
  padding: 3.875rem;
}
.partners-heading {
  padding-bottom: 60px;
  font-family: var(--secondary-font);

}
.partners-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 100px;
}

.partners-logos img {
  max-width: 150px;
} */
footer {
  display: flex;
  justify-content: space-between;
  padding: 120px;
  background-color: var(--lightgray);
  align-items: flex-end;
}
.footer-column {
  display:flex;
  flex-direction: column;
}
 footer a {
   padding-top: 15px;
   text-decoration: none;
   font-family: var(--secondary-font);
   color: var(--blackish);
 }
footer a:hover {
  text-decoration: underline;
}
 .social-media {
   display: flex;
   justify-content: space-between;
 }

 footer .logo {
padding-bottom: 20px;
 }
