/* change these */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Roboto:wght@300;500;700&display=swap") * {
  box-sizing: border-box;
}

:root {
  --bg-color: #011627;
  --white: #f7f7ff;
  --pink: #ff006e;
  --green: #89fc00;
  --purple: #a243ff;

  --primary-font: "Maven Pro", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

body {
  background: var(--bg-color);
}

header,
main,
footer {
  color: var(--white);
}

header {
  padding: 30px 0;
}

header h1 {
  font-size: 3rem;
  padding-bottom: 10px;
  font-weight: bold;
}

header h2 {
  padding-bottom: 5px;
  font-weight: 300;
}

header h2 b {
  font-weight: 500;
}

main {
  display: grid;
  grid-template-areas:
    "swatches typography"
    "buttons typography"
    "buttons adjectives";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media only screen and (max-width: 1150px) {
  main {
    grid-template-areas:
      "swatches"
      "typography"
      "buttons"
      "adjectives";
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 2rem;
  }
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 30px;
}
.column {
  flex-grow: 1;
  width: 100%;
}

.section-heading {
  font-style: italic;
  font-size: 22px;
  color: rgb(212, 212, 212);
  margin-bottom: 10px;
}

.swatches {
  grid-area: swatches;
}

.swatchgrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.swatches .color {
  height: 200px;
}

.color-swatch-1 {
  background-color: var(--purple);
}

.color-swatch-2 {
  background-color: var(--white);
}

.color-swatch-3 {
  background-color: var(--pink);
}

.color-swatch-4 {
  background-color: var(--green);
}

button {
  text-align: center;
  text-decoration: none;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  background: var(--white);
  border: 3px solid var(--white);
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 45px;
  font-weight: 700;
}

.buttons {
  grid-area: buttons;
}

.buttons button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.secondary-button {
  background: transparent;
  color: var(--white);
  border: 3px solid var(--white);
}

.typography-main {
  grid-area: typography;
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives {
  grid-area: adjectives;
  margin-bottom: 100px;
}

.adjectives ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives li {
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
}
